.selectContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.selectRow {
  display: flex;
  width: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.selectRow input {
  margin-top: 12px;
  margin-left: 12px;
}
